p {
    color: red;
}
#mijnID {
    background-color: blue;
}
.mijnKlasse {
    font-size: 24px;
}
h1,h2,h3 {
    color: green;
}
* {
    margin: 0; padding: 0;
}
div p {
    text-align: center;
}
div > p {
    text-align: center;
}