.ervaring {
    color: red;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.Opleiding {
    color: red;
    display: flex;
    justify-content: space-around;
    align-content: center;

}
.Leiderschap {
    color: red;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.talents {
    color: red;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
body {
    background-color: beige;
}
div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.Doel {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
